.appbar_list {
  margin: 0 1.5rem;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.glass {
  background: hsla(0, 0%, 0%, 0.25)!important;
  box-shadow: 1px 4px 60px 0 rgb(31 38 135 / 37%) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  transition: 5s;
}

.glass_not {
  background-color: transparent;
  transition: 1s;
}
